/* Container voor het scherm */
.title-container {
    display: flex;
    justify-content: center; /* Zorg ervoor dat de inhoud gecentreerd is in de container */
    align-items: center; /* Zorg ervoor dat de inhoud gecentreerd is in de verticale richting */
    min-height: 100vh; /* Zorg ervoor dat het minimaal de hoogte van het scherm is */
}

/* Flex container voor afbeelding en tekst */
.title {
    display: flex;
    align-items: center; /* Verticaal centreren van afbeelding en tekst */
}

/* Stijl voor de afbeelding aan de linkerzijde */
.title img {
    max-width: 40%; /* Stel een maximale breedte in voor de afbeelding */
    height: auto; /* Zorg ervoor dat de hoogte automatisch wordt aangepast aan de breedte */
    margin-right: 20px; /* Voeg een beetje ruimte toe tussen de afbeelding en de tekst */
}

/* Zorg ervoor dat de tekst aan de rechterzijde van de container wordt uitgelijnd */
.text-content {
    text-align: right;
}
